body{
	width:100%;
	height:100%;
	background: #333333;
}

/*Main Body Specifications */

div#badge{
	position: absolute;
	top: 4%;
	left: 5%;
	height: 10%;
	width: 10%;
	background: url("../images/coppersheet.jpg") repeat;
	border: 6px solid black;
	border-bottom: 3px solid black;
	border-radius: 40px 0px 0px 0px;
}

div#banner{
	position: absolute;
	top: 4%;
	left: 15.25%;
	height: 10%;
	width: 80%;	
	background: url("../images/bronzesheet.jpg") repeat;
	border: 6px solid black;
	border-bottom: 3px solid black;
	border-radius: 0px 40px 0px 0px;
}

div#banner img{
	height: 100%;
}

div#navigation{
	position: absolute;
	width: 10%;
	height: 80%;
	top: 14%;
	left: 5%;
	background: url("../images/bronzesheet.jpg") repeat;
	border: 6px solid black;
	border-radius: 0px 0px 0px 270px;
	margin-top: 3px;
}

div.content_page {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 14%;
	left: 15%;
	margin-top: 0.15%;
	margin-left: 0.5%;
	background: #ffffff;
	border: 6px solid black;
	border-left: 3px solid black;
	border-right: 4px solid black;
	overflow: auto;
}

div.fade-out {
	opacity:0;
}

div.fade-in {
	opacity:1;
}

/*Navigation Specific Settings*/

#mainMenu{
	display: block;
	position: relative;
	margin-top: 20%;
}

#projectMenu{
	display: none;
	position: relative;
	margin-top: 20%;
}

#cvMenu{
	display: none;
	position: relative;
	margin-top: 20%;
}

button.menuItem{
	display: block;
	position: relative;
	left: -25%;
	width: 100%;
	margin: 10%;
	background: url("../images/coppersheet.jpg") repeat;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -1px 1px 5px Black;
	font: normal small-caps 700 24px/3 courier;
	text-align: center; 
}

button.menuItem:active{
	background: url("../images/copperSelected.jpg") repeat;
}

button.menuItem:hover{
	background: url("../images/copperSelected.jpg") repeat;
}

div#footer {
	position: absolute;
	background: url("../images/bronzesheet.jpg");
	width:10%;
	top: 93%;
	left: 50%;
	border: 6px solid black;
	border-radius: 10px;
}

/*About Page Specific Styling*/

div#about_page {
	display:block;
}

div#about_text{
	position: relative;
	float: left;
	top: 5%;
	left: 5%;
	width: 50%;
	margin: 5%;
}

div#about_img {
	position: relative;
	top: -40%;
	left: 65%;
	width: 30%;
	margin: 5%;
}

/*Project Page Specific Styling*/

div#project_page {
	display:none;
}

div#chipChart_page{
	display:none;
}

div#emg_page{
	display:none;
}

div#ekg_page{
	display:none;
}

div#cv_page {
	display:none;
}

/*CV Page Specific Styling*/

div#cv_Education {
	display:none;
	font: bold 12px courier;
}

div#cv_Professional {
	display:none;
	font: bold 12px courier;
}

div#cv_Teaching {
	display:none;
	font: bold 12px courier;
}

div#cv_Publications {
	display:none;
	font: bold 12px courier;
}

div#cv_Service {
	display:none;
	font: bold 12px courier;
}

li.cvPaperTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 45%;
}

ul {
	list-style-type: none;
}
