body{
	width:100%;
	height:100%;
	background: #333333;
}

div#banner{
	position: absolute;
	width: 80%;
	height: 10%;
	left: 15%;
	margin-left:5px;
	background: url("../images/bronzesheet.jpg") repeat;
	border: 6px solid black;
	border-bottom: 3px solid black;
	border-radius: 0px 40px 0px 0px;
}

div#badge{
	position: absolute;
	width: 10%;
	height: 10%;
	left: 5%;
	background: url("../images/coppersheet.jpg") repeat;
	border: 6px solid black;
	border-bottom: 3px solid black;
	border-radius: 40px 0px 0px 0px;
}

div#navigation{
	position: absolute;
	width: 10%;
	height: 80%;
	top: 11%;
	left: 5%;
	background: url("../images/bronzesheet.jpg") repeat;
	border: 6px solid black;
	border-radius: 0px 0px 0px 270px;
	margin-top: 3px;
}

input[type="radio"] {
	display: none;
}

#navgroup{
	position: relative;
	margin-top: 20%;
}

div#navigation label {
	display: block;
	position: relative;
	float: auto;
	margin: 10%;
	background: url("../images/coppersheet.jpg") repeat;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -1px 1px 5px Black;
	font: normal small-caps 700 24px/3 courier;
	text-align: center; 
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div#navigation input[type="radio"]:checked + label{
	background: url("../images/copperSelected.jpg") repeat;
}

div#navigation input[type="radio"]:unchecked + label{
	background: url("../images/coppersheet.jpg") repeat;
}

div.content_page {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 11%;
	left: 15%;
	margin-top: 0.15%;
	margin-left: 0.5%;
	background: #ffffff;
	border: 6px solid black;
	border-left: 3px solid black;
	border-right: 4px solid black;
}

div#about_page {
	display:block;
}

div#about_text{
	position: relative;
	width: 33%;
	margin: 5%;
	
}

div#about_img{
	position: relative;
	margin-right: 5%;
	top: -33%;
	float: right;
	border: 2px solid black;
	border-radius: 5px;
}

div#project_page {
	display:none;
}

div#CV_page {
	display:none;
}

div#footer {
	position: absolute;
	background: url("../images/bronzesheet.jpg");
	width:10%;
	top: 90%;
	left: 50%;
	border: 6px solid black;
	border-radius: 10px;
}

h3.cvSegment {
	position: relative;
	font: bold 18px courier;
}

h3.cvSegment li{
	list-style-type: none;
}
